<mat-sidenav-container class="main-wrapper">
  <mat-sidenav #sidenav mode="side" [opened]="isVisible">
    <mat-nav-list>
      <mat-list-item routerLink="../homepage" routerLinkActive="active" [routerLinkActiveOptions]='{exact: true}'>
        <mat-icon>home</mat-icon><span>Homepage</span>
      </mat-list-item>

      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-icon>view_list</mat-icon> Categories
        </mat-expansion-panel-header>

        <mat-nav-list>
          <a mat-list-item *ngFor="let category of categories" [routerLink]="['categories', category]"
            routerLinkActive="active">
            {{category}}
          </a>
        </mat-nav-list>
      </mat-expansion-panel>

      <mat-expansion-panel *ngIf="showAdminLinks">
        <mat-expansion-panel-header>
          <mat-icon>admin_panel_settings</mat-icon> Admin
        </mat-expansion-panel-header>

        <mat-nav-list>
          <a mat-list-item routerLink="admin/books" routerLinkActive="active">Books</a>
          <a mat-list-item routerLink="admin/categories">Categories</a>
        </mat-nav-list>
      </mat-expansion-panel>

    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content>
    <app-sidenav-content>
      <router-outlet></router-outlet>
    </app-sidenav-content>
  </mat-sidenav-content>

</mat-sidenav-container>