@import "../../../../styles/variables.scss";
:host {
  flex: 1;
}
input {
  width: 100%;
  background-image: url(../../../../assets/images/icons/search.png);
  background-repeat: no-repeat;
  background-position: 98%;
  border-radius: 4px 4px 0px 0px;
  padding: 1vw;
  background-color: $white;
}
