@import "../../../../../styles/variables.scss";
:host {
  display: block;
  background-image: url(../../../../../assets/images/backgrounds/Golden_book.svg.png);
  background-position: 6.47% 100%;
  background-size: 58% 78%;
  background-repeat: no-repeat;
}
.book-wrapper {
  width: 88%;
  margin: 1vh auto;
}

.search-filter {
  display: flex;
  gap: 2vw;
  justify-content: space-between;
  padding: 1.6vh 0;
}
.books {
  display: grid;
  grid-template: repeat(2, 1fr) / repeat(3, 1fr);
  row-gap: 2vw;
  column-gap: 2vw;
}

@media only screen and (max-width: 1250px) {
  .books {
    grid-template: repeat(3, 1fr) / repeat(2, 1fr);
  }
}

@media only screen and (max-width: 768px) {
  .books {
    grid-template: 1fr / 1fr;
  }
}
