<div class="mainWrapper">
  <p class="displayOutput">{{displayValue}}</p>
  <div>
    <app-search (displayTerm)="showValue($event)"></app-search>
    <app-dropdown (displayCategory)="showValue($event)"></app-dropdown>
  </div>
  <div>
    <app-card [book]="books[0]"></app-card>
    <app-card [book]="books[1]"></app-card>
    <app-card [book]="books[2]"></app-card>
    <app-card [book]="books[3]"></app-card>
    <app-card [book]="books[4]"></app-card>
    <app-card [book]="books[5]"></app-card>
  </div>
</div>