@import "../../../../styles/variables.scss";
:host {
  display: flex;
  color: $white;
  justify-content: flex-end;
  gap: 4%;
  padding: 2vh 0;
}
select {
  background-color: $white;
}
button {
  width: 1vw;
  background-repeat: no-repeat;
  background-size: contain;
  background-color: transparent;
  border: none;
}

.previous {
  background-image: url(../../../../assets/images/icons/left.png);
}
.next {
  background-image: url(../../../../assets/images/icons/right.png);
}
