@import "../../../../styles/variables.scss";
:host {
  color: $white;

  .mat-paginator::ng-deep {
    background: transparent;

    .mat-form-field.mat-focused .mat-form-field-ripple {
      background-color: $gray;
    }

    .mat-paginator-container {
      color: $white;

      .mat-paginator-page-size-label {
        margin: 0 28px;
      }

      .mat-paginator-page-size-select {
        width: 42px;
      }

      .mat-icon-button,
      .mat-select-value,
      .mat-select-arrow {
        color: $white;
      }

      .mat-icon-button.mat-button-disabled {
        color: $gray;
      }
    }
  }
}
