@import "../../../../styles/variables.scss";

nav {
  display: flex;
  justify-content: space-between;
  padding: 2vh 0;
  background: linear-gradient($gray, $black);
  color: $white;
  font-family: $myFirstFont;
  font-size: 1.6vw;

  .icon-wrapper {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    margin: 0 2vw;

    h1 {
      font-size: 2.8vh;
      margin: 0 2vw;
      a {
        color: $white;
        text-decoration: none;
      }
    }

    button {
      background-color: transparent;
      border: 0;
      cursor: pointer;

      .material-icons {
        color: $white;
      }
    }
  }
}
