@import "../../../../styles/variables.scss";

nav {
  display: flex;
  justify-content: space-between;
  padding: 1vw 0;
  background-image: url(../../../../assets/images/backgrounds/headerBcgr.png);
  background-size: contain;
  background-repeat: repeat-x;
  color: $white;
  font-family: $myFirstFont;
  font-size: 1.6vw;

  .icon-wrapper {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    margin: 0 2vw;

    h1 {
      font-size: 2.8vh;
      margin: 0 2vw;
      a {
        color: $white;
        text-decoration: none;
      }
    }

    .burger-icon {
      background-image: url(../../../../assets/images/icons/hamburger.png);
    }

    .avatar-icon {
      background-image: url(../../../../assets/images/icons/avatar.png);
    }

    button {
      background-position: center;
      background-size: contain;
      background-repeat: no-repeat;
      background-color: transparent;
      border: 0;
      width: 2.6vh;
      height: 100%;
    }
  }
}
