@mixin form-fields {
  .mat-form-field::ng-deep {
    font-family: $mySecondFont;

    .mat-input-element,
    .mat-select {
      padding: 1.4vw 1vw;
    }

    .mat-form-field-label-wrapper {
      position: static;
    }

    .mat-form-field-label {
      color: $black;
      padding-left: 1vw;
      font-size: 1.6vh;
    }

    .mat-form-field-flex {
      align-items: center;
      background-color: $white;
      border-radius: 4px 4px 0px 0px;
    }

    .mat-form-field-infix {
      padding: 0;
      border: 0;
    }

    .mat-form-field-suffix {
      font-size: 24px;
      margin-left: 1vw;
    }

    .mat-form-field-underline {
      display: none;
    }
  }
}

@mixin form-input {
  @include form-fields;

  .mat-input-element {
    margin-top: 0;
    color: $black;
  }

  .mat-icon-button {
    color: $black;
  }
}

@mixin form-select {
  @include form-fields;

  .mat-select-value {
    color: $black;
  }
}
