<div class="wrapper">
  <ng-container *ngIf="book; else noBook">
    <app-title title="Book Overview - {{book.title}}"></app-title>
    <mat-card class="book-card">
      <mat-card-content>
        <mat-card-header>
          <mat-card-title>
            <h3>{{book.title}}</h3>
          </mat-card-title>
        </mat-card-header>
        <mat-card-content class="book">
          <img mat-card-image [src]="book.imageUrl" alt="Book Cover">
          <div class="book-bio">
            <p>BookId: #{{book.id}}</p>

            <h5>{{book.author}}, {{book.year}}</h5>
            <p>County: {{book.country}}</p>
            <p>Category: {{book.category}}</p>
            <p>ISBN: {{book.isbn}}</p>
            <p>{{book.description}}</p>
            <h5>{{book.reviewer}}</h5>
            <p>{{book.comment}}</p>

          </div>
        </mat-card-content>
      </mat-card-content>
    </mat-card>
    <mat-card-actions>
      <app-button class="btn-big" [text]="'Close'" routerLink=""></app-button>
    </mat-card-actions>
  </ng-container>

  <ng-template #noBook>
    <app-title [title]="'Book not found'"></app-title>
  </ng-template>
</div>