@import "../../../../styles/variables.scss";

button {
  width: 100%;
  font-size: 0.8vw;
  padding: 2% 4%;
  background-color: $gray;
  border: none;
  border-radius: 4px;
  color: $white;
}

@media only screen and (max-width: 1250px) {
  button {
    font-size: 1.4vw;
  }
}

@media only screen and (max-width: 658px) {
  button {
    font-size: 1.8vw;
  }
}
