@import "../../../../styles/variables.scss";

:host {
  width: 100%;
  display: flex;
  justify-content: flex-end;

  button {
    width: 100%;
    font-size: 1.4vh;
    padding: 2% 4%;
    background-color: $gray;
    border: none;
    cursor: pointer;
    border-radius: 4px;
    color: $white;
  }

  .big {
    width: 30%;
    font-size: 1.8vh;
  }

  .big:hover {
    color: $black;
    background-color: $white;
  }
}

@media only screen and (max-width: 1250px) {
  button {
    font-size: 1.6vh;
  }
}

@media only screen and (max-width: 768px) {
  button {
    font-size: 1.8vh;
  }
}
