@import "../../../../../styles/variables.scss";

.book-card {
  display: grid;
  grid-template-rows: auto 1fr;
  color: $black;
  background-color: $white;
  border-radius: 4px;
  padding: 4%;
  gap: 4%;
  align-items: center;

  h4 {
    font-size: 1.2vw;
    font-weight: 700;
  }

  .book {
    display: grid;
    grid-template-columns: 4fr 5fr;
    column-gap: 4%;
    font-size: 0.8vw;
  }

  img {
    border-radius: 4px;
    width: 100%;
  }
  .book-bio {
    display: flex;
    flex-direction: column;
    justify-content: space-around;

    p {
      max-height: 150px;
      overflow: hidden;
    }
  }
}
