<div class="book-card" appBookBackground [category]="book.category">
  <app-book-card>
    <ng-container title>
      <h3>{{book.title | titlecase}}</h3>
    </ng-container>

    <img image mat-card-image [src]="book.imageUrl" alt="Book Cover">
    <ng-container bio>
      <h5>{{book.author | fullName | titlecase}}, {{book.year | date:'yyyy'}}</h5>
      <p>Category: {{book.category}}</p>
      <p class="description">{{book.description | textLength:56}}</p>
    </ng-container>
    <ng-container buttons>
      <app-button [text]="'Book Overview'" [isBig]="false" [routerLink]="['book', book.id]"></app-button>
      <app-button [text]="'Delete'" [isBig]="false" (click)="onDelete()"></app-button>
      <app-button [text]="'Soft Delete'" [isBig]="false" (click)="onSoftDelete()"></app-button>
    </ng-container>
  </app-book-card>
</div>