<mat-card class="book-card" appBookBackground [category]="book.category">
  <mat-card-content>
    <mat-card-header>
      <mat-card-title>
        <h3>{{book.title}}</h3>
      </mat-card-title>
    </mat-card-header>
    <mat-card-content class="book">
      <img mat-card-image [src]="book.imageUrl" alt="Book Cover">
      <div class="book-bio">
        <h5>{{book.author}}, {{book.year}}</h5>
        <p>Category: {{book.category}}</p>
        <p class="description">{{book.description}}</p>
        <mat-card-actions>
          <app-button [text]="'Book Overview'" [isBig]="false" [routerLink]="['book', book.id]"></app-button>
          <app-button [text]="'Delete'" [isBig]="false" (click)="onDelete()"></app-button>
        </mat-card-actions>
      </div>
    </mat-card-content>
  </mat-card-content>
</mat-card>