<div class="books-table">
  <table mat-table [dataSource]="books">
    <ng-container *ngFor="let column of columns" [matColumnDef]="column.columnDef">
      <th mat-header-cell *matHeaderCellDef>
        {{column.header}}
      </th>

      <td mat-cell *matCellDef="let row">
        <ng-container [ngSwitch]="column.columnDef">
          <ng-container *ngSwitchCase="'image'">
            <img [src]="column.cell(row)">
          </ng-container>
          <ng-container *ngSwitchCase="'description'">
            <button (click)="openReadMore(column.cell(row))">Read More</button>
          </ng-container>
          <ng-container *ngSwitchCase="'overview'">
            <button>Overview</button>
          </ng-container>
          <ng-container *ngSwitchDefault>
            {{column.cell(row)}}
          </ng-container>
        </ng-container>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
  <app-pagination [length]="books.length" [pageSizeOptions]="[6, 12, 24]"></app-pagination>
</div>