@import "../../../../styles/variables.scss";

footer {
  font-family: $mySecondFont;
  background: linear-gradient($black, $gray);

  h4 {
    text-align: center;
    font-size: 1.8vh;
    padding: 1.6vh 0;
    span {
      text-transform: uppercase;
    }
  }
}
