@font-face {
  font-family: Monserrat;
  src: url(../../assets/fonts/Montserrat-Regular.ttf);
}
@font-face {
  font-family: Karla;
  src: url(../../assets/fonts/Karla-Regular.ttf);
}

$white: #f2efdc;
$gray: #837e72;
$black: #160f09;
$myFirstFont: Montserrat;
$mySecondFont: Karla;
